:root {
    --color-red: #f9322c;
    --color-grey: #d1d1d1;
    --bs-font-monospace: monospace;
}

/* latin */
@font-face {
  font-family: 'Albert Sans';
  font-style: normal;
/*  font-weight: 400;*/
  src: url(/assets/fonts/Albert-Sans-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    font-family: 'Albert Sans', sans-serif;
    margin-bottom: 150px;
}

img {
    max-width: 100%;
}

.img-rounded {
    border-radius: 15px;
}

.img-border {
    border: 1px solid var(--color-grey);
}

.container-fluid {
    margin: 0 auto;
    max-width: 920px;
}

#menu a {
    text-decoration: none;
}
#menu li.fw-bold a {
    text-decoration: underline;
}

#menu ul li a:hover, .menu-mobile:focus {
    font-weight: bold;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
    color: black;
}

/*a, a:visited {
    color: var(--color-red);
}*/

h1.website-title {
    font-size: 2.5rem;
}

.page-content p, .page-content ul {
    margin: 1rem 0;
    line-height: 1.6;
    color: #4c4c4c;
}

.page-content ul {
    padding-left: 20px;
}

hr {
    background-color: var(--color-grey);
    height: 1px;
    border: 0;
}

.showcase-img {
    overflow: hidden;
}

.showcase-item img {
    display: block;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    transition: all .2s;
}

.showcase-item a {
    text-decoration: none;
}

.showcase-item:hover img {
    transform: scale(1.05);
}

.showcase-item:hover a {
    text-decoration: underline;
}

.showcase-name {
    text-align: center;
    padding: 8px;
}

.contact-page i {
    color: var(--color-red);
    font-size: 1.4em;
    vertical-align: -3px;
}

/* Media queries */
@media(max-width: 767px){
    html { font-size: 18px; }
    #menu ul{display: none;}
}